<div>
  <label>New contestant name: </label>
   <!-- see https://github.com/angular/angular/issues/8602 -->
  <input #contestantName>
  <!-- we call the component's click handler and then clear
  the input field so that it will be ready to use for another name -->
  <button (click)="add(contestantName.value); contestantName.value=''">
    Add
  </button>
</div>
<div *ngFor="let contestant of contestants">
  <h2>Contestant: {{contestant.name}}</h2>
  <ul>
    <li *ngFor="let contest of contests">
      <input type="checkbox" name="isActive"
        (change)="toggleContest(contestant, contest, $event.target.checked)"
        (click)="$event.stopPropagation()"
        [checked]="isChecked(contestant, contest)"
      >
      {{contest.getContestType()}}
    </li>
  </ul>
</div>
