<!-- <div *ngIf="getCategories().length == 0">
</div> -->
<div [ngSwitch]="getCategories().length == 0">
  <!-- Judging items for uncategoried contest -->
   <ng-container *ngSwitchCase="true">
     <judging-item-score *ngFor="let jItem of contest.contestData.judgingItems"
        [judgingItem]="jItem" (onResultChanged)=onResultChanged($event,jItem)></judging-item-score>
   </ng-container>

   <!-- Judging items for categoried contest, not toggleable by default -->
   <ng-container *ngSwitchCase="false">
     <p-fieldset *ngFor="let category of getCategories()" legend={{category.name}}>
     </p-fieldset>
   </ng-container>
</div>

<!-- Total score for this contestant -->
<div class="ui-grid ui-grid-responsive ui-grid-pad mxc-total-results">
    <div class="ui-grid-row">
      <span class="ui-grid-col-7"></span>
      <span class="ui-grid-col-5">TOTAL: {{totalScore}} </span>
    </div>
</div>
